* {
    margin: 0;
    padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   font-weight: 500;
   color: white;
   margin: 0 auto;
   width: 1200px;
   background-color: #b1d8e7;
}
h1 {
  font-size: 2.5em;
  font-weight: 800;
  text-align: center;
  color: #003b4b;
  margin-top: 1.5em;
}
form{
    background-color: #027d79;
    border-radius: 1em;
    padding: 1.8em;
    width: 36%;
    margin-left: 24em;
}

#openBtn{
    font-size: 72px;
    font-family:'Times New Roman', Times, serif;
}

input{
  color: #027d79;
}

.center {
    margin: auto;
    top: 50%;
    width: 50%;
    padding: 300px;
    text-align: center;
}

.hidden{
  visibility: hidden;
}
